.DS_Store
*/.DS_Store
online-offline/
qgis/sheldus_shp/
qgis/usa_shp/
data/reddit/central_zst_storage/
data/reddit/misc/
data/reddit/reddit_data/
data/reddit/central_zst_storage/
data/reddit/scripts/*.log
data/reddit/*.zip
data/reddit/scripts/misc/
qgis/reddit_shp/
qgis/sheldus_shp/SHELDUS_county_level.cpg
qgis/sheldus_shp/SHELDUS_county_level.dbf
qgis/sheldus_shp/SHELDUS_county_level.gpkg
qgis/sheldus_shp/SHELDUS_county_level.prj
qgis/sheldus_shp/SHELDUS_county_level.qmd
qgis/sheldus_shp/SHELDUS_county_level.shp
qgis/sheldus_shp/SHELDUS_county_level.shx
qgis/usa_shp/


